{% extends "base.twig" %}

{% block content %}
    {% include 'component/navbar.twig' %}
    {% if isAdmin == 1 %}
        <div class="container mt-5 mb-2">
            {% if execMessage is not null %}
                {% if execMessage != "Success" %}
                    <div class="alert alert-danger" role="alert">
                        {{ execMessage }}
                    </div>
                {% else %}
                    <div class="alert alert-success" role="alert">
                        保存成功！
                    </div>
                {% endif %}
            {% endif %}

            <div class="row">
                <div class="col-md-3">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item d-grid">
                            <a class="nav-link {% if type == 'users' %}active{% endif %}" href="{{ baseUrl }}/admin?type=users">
                                {% if type == 'users' and navRet %}
                                    ← 返回用户管理
                                {% else %}
                                    <ion-icon name="people"></ion-icon>
                                    用户管理
                                {% endif %}
                            </a>
                            <a class="nav-link {% if type == 'groups' %}active{% endif %}" href="{{ baseUrl }}/admin?type=groups">
                                {% if type == 'groups' and navRet %}
                                    ← 返回分组管理
                                {% else %}
                                    <ion-icon name="paper-plane"></ion-icon>
                                    分组管理
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9"> {% block adminContent %}{% endblock %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}
